:host {
  width: 60%;
  padding: 20px;
  box-sizing: border-box;
}

ul {
  list-style: none;

  li {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 60px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  img {
    width: 300px;
  }
}
