<section class="app">

  <div *ngIf="!finished"
       class="wrapper">

    <app-question *ngFor="let question of questions; let i = index"
                 [question]="question"
                 (nextQuestion)="handleNextQuestion($event, i)"
                 [class.hide]="i !== activeQuestion"></app-question>

  </div>

<!--  <div *ngIf="normalizedScale">-->
<!--    <p *ngFor="let item of normalizedScale">-->
<!--      <b>{{ item[0] }}</b>: {{ item[1] }}-->
<!--    </p>-->
<!--  </div>-->

  <app-laptops *ngIf="finished && sortedLaptops"
               [laptops]="sortedLaptops"></app-laptops>

</section>
